/* altered Bootstrap */
.row{
    margin: 0px;

    div{
        padding: 10px;
    }
}

.container{
    margin: 30px;
    padding: 0px;
}

/* end altered Bootstrap */

#admin-body{
     /*background-color: #eee*/
}

#admin-wrapper{
    margin: 0 auto;
    width: 1100px;
    padding-bottom: 50px;
}


.grad1 {
    /*height: 200px;*/
    background-color: #13462d; /* Fallback */
    background-image:-webkit-gradient(linear, 100% 0%, 0% 0%, color-stop(0%, #238253), color-stop(100%, #13462d)); /* For Android browsers below 4.0*/
    background: -webkit-linear-gradient(right, #238253, #13462d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #238253, #13462d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #238253, #13462d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #238253, #13462d); /* Standard syntax (must be last) */
}

.loginErrors{
	color: red;
	text-align: center;
	width: 300px;
	margin: -150px auto
}

#adminDashboard{
    width: 1000px;
    margin: 0 auto;

    h1{
        margin-top: 150px;
        text-align: center
    }

    hr{
        margin-top: 250px;
    }
}

#admin-header{

    hr{
        margin-top: 50px
    }
}

#admin-nav{
    width: 695px;
    margin-top: 10px;
    display: inline-block;

    a{
        font-size: 20px;
        margin: 20px;
    }

    p{
        width: 5px;
        display: inline-block;
    }
}

#admin-logout{
    width: 380px;
    margin-top: 10px;
    padding-right: 20px;
    text-align: right;
    display: inline-block;
}

#edit-schedule-div{

    height: 700px;

    h1{
        /*text-align: center;*/
        width: 1000px;
        margin: 50px auto 20px auto;
        padding-left: 20px;
    }
}

#edit-schedule-container{
    width: 1004px;
    height: 600px;
    margin: 0 auto;
}

#hr-div{
    width: 900px;
    margin: 0 auto;
}

#edit-schedule-left{
    width: 460px;
    height: 360px;
    padding: 20px;
    float: left;
    /*border: 1px solid black;*/
}

#edit-schedule-right{
    width: 500px;
    height: 400px;
    float: left;
    margin-top: -50px;
    /*border: 1px solid black;*/

    hr{
        width: 400px;
        margin-top: 10px;
        margin-left: 15px;
    }
}

#up-div{

}

#submit-btn-div{

    input{
        background: #0f0;                                                                                                              ;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        font-size: 14px;
    }

    #update-btn{
        background: #00f;                                                                                                              ;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        font-size: 14px;
    }    

    #delete-btn{
        background: #f00;                                                                                                              ;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        font-size: 14px;
    }

    #cancel-btn{
        background: #cc0;                                                                                                              ;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        font-size: 14px;
    }
   
}

#edit-cds-container{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}

#edit-cds-left{
    /*float: left;*/
}

#edit-cds-right{
    /*float: left;*/
}

.edit-cd-image{
    grid-area: image;
}

.edit-cd-details{
    grid-area: details;
}

.edit-cd-description{
    grid-area: description;
}

.edit-cds-cd-list-div{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:

        "image details"
        "description description";
    

    ul{
        list-style: none;
    }
}

#enterSongTitles{
    background: blue;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    font-size: 14px;
}

#details-div{
    margin-top: 10px;
    height: 350px;
    width: 440px;
    float: left;
    /*padding: 20px 30px;*/
    border-radius: 5px 5px 5px 5px;
/*  background-color: #333;
    color: #fff;*/

    td.location{
        width: 300px;
    }

    th.venue-heading, th.details-heading{
        padding-top: 5px;
        text-align: left;
        padding-left: 15px;
    }

    th.details-heading{
        padding-top: 30px;
    }

    th.time-heading{
        text-align: center;
    }
}

textarea{
    resize: none;
}

label{

}

input{

}

#upload-btn-div{
    text-align: center;
}

#errors{
    color: #f00;
}

#upload-btn-div{

    input{
        background: #0f0;                                                                                                              ;
        color: #fff;
        font-weight: bold;
        padding: 5px;
        font-size: 14px;
    }
   
}

.time{

}

#updated{
    padding-left: 170px; 
    color: #fff; 
    font-weight: 800;
}

#cd_listing{
    display: inline-block;
}

#cd_listing_div_admin{
    margin: 15px 0 15px 0;
}

.song-title-div{
    margin-bottom: 10px;
}

