$yellow: #ffff00;
$location: #33ff33;
$text-color: #000000;
$banner-blue: #1e588a;
$signature-green: #028f1d;
/*$orange: #e97f35;*/
$orange: #fd7700;
$sky: #b4c5d6;
$btn-red: #ff0000;
$btn-blue: #0000ff;
$btn-green: #00cc00;